:root {
  --color-black: #000;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--color-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* General */
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
}

.result {
  width: 62.37%;
  margin-top: auto;
}

/* Video */
.result__video-container {
  position: relative;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Search Form City*/
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 5px;
}

.search-form__textfield {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
  width: 225px;
  height: 27px;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__textfield:hover {
  text-decoration: none;
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid var(--color-white);
  outline-offset: 2px;
}

/* Checkbox Time Of Day*/
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.search-form__label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__fieldset-title + .search-form__checkbox-list {
  padding-bottom: 5px;
}

 
.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-white);
  width: 19px;
  height: 19px;
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  color: var(--color-white);
}

.search-form__checkbox[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--color-white);
}

/* Button Search*/
.button {
  border: 1px solid var(--color-white);
  padding: 5.4px 73px;
  background-color: transparent;
  color: var(--color-white);
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

.button:active {
  background-color: #545050;;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid var(--color-white);
  outline-offset: 2px;
}

/* Content Details */
.content__details {
  width: 35%;
  height: 100%;
}

.title { 
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  color:var(--color-white)
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  height: 298px;
  flex-direction: column;
  position: relative;
  overflow: auto;
  margin-top: 26px;
  padding-bottom: 0.1px;
}

.content__list-item {
  display: flex;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__card-link {
  width: 100%;
  margin: 2px;
  display: block;
  color: var(--color-white);
}

.content__card-link:hover{
  text-decoration: underline;
}

.content__card-link:focus{
  outline: none;
}

.content__card-link:focus-visible{
  outline: 1px solid var(--color-white);
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active{
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  width: 200px;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.more-button {
  width: 100%;
}